include ../components/head.pug
body(class="container")
    include ../components/nav.pug
    main
        h1 Home
        article
            h2 Welcome, Guest
        include ../components/session.pug